<script lang="ts">
    export default {
        props: {
            show: {
                type: Boolean,
                required: true,
            },
            top: Number,            
        },
        methods: {
            hidePopup() {
                // Emit a custom event to notify the parent to toggle visibility
                this.$emit('hide-popup');
            },
        }
    };
</script>

<template>
    <div v-if="show" class="overlay" :style="{top: top + 'px'}">
        <div class="overlay-content">
            <div style="display: inline-block; width: 100%;">
                <svg class="icon icon-cross close-x" @click="hidePopup()">
                    <use xlink:href="../assets/svg/symbol-defs.svg#icon-cross"></use>
                </svg>
            </div>
            <slot></slot>
        </div>
    </div>
</template>

<style lang="scss">
    .overlay {
        position: absolute; /* Relative to the parent container */
        display: flex;
        justify-content: flex-end; /* Align to the right inside the parent */
        align-items: center;
        width: 100%;
        pointer-events: none; /* Allow interaction with elements underneath */
        z-index: 999; 
        .overlay-content {
            background-color: white;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            pointer-events: auto; /* Allow interaction with the overlay content */
            border: 1px solid;        
        }
        .close-x{
            float: right; 
            margin: 10px;
            cursor: default;
            /*filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(297deg) brightness(96%) contrast(104%);*/
        }
    }
</style>