<script lang="ts">

import { Ref, defineComponent} from 'vue';
import { PaginationModel } from '../models/PaginationModel.ts';
import { ColumnModel } from '../models/TableModels.ts';
import Popup from './Popup.vue';
import { formatMoney, sortByDataType } from '../services/helper.ts';

export default defineComponent({  
  name: 'Table',
  components:{
    Popup
  },
  data() {
    return {
      selectedItem: null, 
      showDetailsPane: false,
      filterText: null as string | null,
      pagination: new PaginationModel(),
      columns: [] as Array<ColumnModel>,
      items: [] as Array<any>,
      maxWidth: 1200 as number,
      minHeight: 800 as number,
      renderedTableWidth: 0 as number
    };
  },
  props: {
    columns_: Array<ColumnModel>, 
    items_: Array<any>,    
    width: Number,
    height: Number,
  },  
  created: function(){
    this.columns = this.columns_?? this.columns;
    this.items = this.items_??this.items;
    this.maxWidth = this.width??this.maxWidth;
    this.minHeight = this.height??this.minHeight;

    this.items.forEach(i => {
      i.isChecked = false;
      for (var key in i){
        if (key === 'isChecked'){
          continue;
        }
        var type = this.getColumnByKey(key).type;
        if (type === 'string[]'){
          i[key].display = this.formatData(i[key].value, 'string[]');
        }else if (type === 'money'){
          i[key].display = this.formatData(i[key].value, 'money');
        }
      }
    });
  },
  mounted() {
    this.$nextTick(() => {
      const table = this.$refs.tableElementRef as Ref<HTMLElement>;
      this.renderedTableWidth = (table as any).scrollWidth + 20;
    });
  },
  computed: {
    mainWidth(){
      return this.maxWidth;
    },
    mainHeight(){
      return (this.$data.minHeight + 100) as Number;
    },
    hasData(){
      return this.items.length > 0;
    },
    filteredItems(){
      if (!this.items || this.items?.length == null || this.isBlank(this.filterText)){
        return this.items;
      }

      var pag = this.pagination;
      if(pag.pageNumber !== 1){
        pag.pageNumber = 1;
      }
      
      return this.items.filter(i => {
        for(let key in i){
          if (key === 'isChecked'){
            continue;
          }
          var b = i[key].value?.toString().includes(this.filterText);
          if (b){
            return true;
          }
        }
        return false;
      });
    },
    filteredAndPagedItems() {
      var pag = this.pagination;
      var index = pag.countPerPage * (pag.pageNumber - 1);
      return this.filteredItems.slice(index, pag.countPerPage + index);
    },
    numberOfPages() {
      var pag = this.pagination;
      return Math.ceil(this.filteredItems.length / pag.countPerPage);
    },
    rowsChecked(){
      return this.filteredItems.filter(i => i.isChecked);
    },
    isDetailsVisible():boolean{
      return this.rowsChecked.length === 1;
    },    
  },
  methods: {    
    onPageKeyup($event:any){
      var pn = $event.target.value;   
      if (!pn){
        return;
      }         
      if (pn < 1){
        this.pagination.pageNumber = 1;
      }else if (this.pagination.pageNumber > this.numberOfPages){
        this.pagination.pageNumber = this.numberOfPages;
      }
    },
    isBlank(str:string|null) {
      return (!str || /^\s*$/.test(str));
    },
    //a and b are row items
    sort(column: ColumnModel) {      
      //sort order
      var sortOrder = column.sortOrder;
      //clear order
      this.columns.forEach(x=> x.sortOrder = null);
      //set order
      if (sortOrder === null){
        column.sortOrder = 'asc';
      }else if (sortOrder === 'asc'){
        column.sortOrder = 'dsc';
      }else {
        column.sortOrder = null;
      }

      this.items = this.items.sort((a, b) =>{
        var val_a = a[column.key].value; 
        var val_b = b[column.key].value;
        if (column.type === 'string[]'){
          val_a = this.formatData(val_a, 'string[]');
          val_b = this.formatData(val_b, 'string[]');
        }        
        var s = sortByDataType(val_a, val_b, column.sortOrder, column.type);        
        return s;
      });      
    },
    formatData(value: any, dataType: string){
      switch(dataType){
        case 'string':
        case 'int':
        case 'float':  //need work
        case 'date':  //need work
          return value;      
        case 'money':
          return formatMoney(value);
        case 'string[]':
          return value.join('; ');
        default:
          return value;
      }
    },
    pagePrevious() {
        var pag = this.pagination;
        if (pag.pageNumber == 1) {
            return;
        }
        pag.pageNumber--;
    },
    pageNext() {      
        var pag = this.pagination;
        if (Math.ceil(this.filteredItems.length / pag.countPerPage) == pag.pageNumber) {
            return;
        }
        pag.pageNumber++;
    },
    isLastPage() {
        var pag = this.pagination;
        return this.numberOfPages == pag.pageNumber;
    },
    getColumnByKey(key: string):ColumnModel{      
      var col = this.columns.find(c => c.key === key);
      return col as ColumnModel;
    },
    hidePopup(){
      this.filteredItems.forEach(i => i.isChecked = false);
    }
  }
});

</script>
<template>        
  <div class="bg-gray-400 vue-table-main" :style="{width: mainWidth + 'px', height: mainHeight + 'px'}">
    <Popup :show="isDetailsVisible" :top="70" @hide-popup="hidePopup()">
      <div class="row-details">
        <div class="row-details-row" 
          v-for="key in Object.keys(rowsChecked[0]).filter(k => k !== 'isChecked')">
          <span class="row-details-cell">{{getColumnByKey(key).label}}</span>
          <!-- if type !== string array -->
          <span class="row-details-cell" v-if="getColumnByKey(key).type !== 'string[]'">
            {{rowsChecked[0][key].display}}
          </span>
          <!-- if type === string array -->
          <div class="row-details-cell" v-else>
            <span v-for="str in rowsChecked[0][key].value">
              {{str}}
            </span>
          </div>
        </div>              
      </div>      
    </Popup>
    <!------------------------------>    
    <!--search :style="{width: renderedTableWidth + 'px'}"-->
    <!------------------------------>    
    <div class="vue-table-search-container" v-if="hasData">
      <svg class="icon icon-search" style="float:left; margin-top: 8px; margin-left:10px">
          <use xlink:href="../assets/svg/symbol-defs.svg#icon-search"></use>
      </svg>
      <input v-model="filterText" class="form-control-small" style="float:left; margin-left: 25px;">
    </div>              
    <div class="vue-table-container" :style="{maxWidth: maxWidth + 'px', minHeight: minHeight + 'px'}">    
      <!------------------------------>    
      <!--data table -->
      <!------------------------------>    
      <table :style="{display: 'block', width: renderedTableWidth + 'px'}" ref="tableElementRef" class="bg-reorg-beige vue-table">
        <thead>
          <tr>
            <th></th>
            <template v-for="col in columns" >  
              <th :class="`table-header-cell table-header-cell-${col.key}`" @click="sort(col)">
                <svg class="icon icon-sort-desc" v-show="col.sortOrder=='dsc'" style="margin-right:10px">
                  <use xlink:href="../assets/svg/symbol-defs.svg#icon-sort-desc"></use>
                </svg>
                <svg class="icon icon-sort-asc" v-show="col.sortOrder=='asc'" style="margin-right:10px">
                  <use xlink:href="../assets/svg/symbol-defs.svg#icon-sort-asc"></use>
                </svg>
                <svg class="icon icon-sort" v-show="col.sortOrder==null" style="margin-right:10px">
                  <use xlink:href="../assets/svg/symbol-defs.svg#icon-sort"></use>
                </svg>
                <span> {{ col.label }} </span>
              </th>
            </template>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in filteredAndPagedItems">
            <td><input type="checkbox" v-model="item.isChecked"/></td>
            <td :class="`table-cell table-cell-${col.key}`" v-for="col in columns">              
              {{  item[col.key].display }}    
            </td>
          </tr>
        </tbody>
      </table>             
    </div>
    <!------------------------------>    
    <!--pagination -->
    <!------------------------------>    
    <div class="vue-table-pagination" v-show="numberOfPages??0 > 1">
      <svg class="icon icon-circle-left" style="margin-right: 10px"
          @click="pagePrevious()"
          v-bind:class="{'icon-disabled': pagination?.pageNumber==1}">
        <use xlink:href="../assets/svg/symbol-defs.svg#icon-circle-left"></use>
      </svg>
      <span><input style="width: 50px" class="form-control-small" type="number" v-model="pagination.pageNumber" @keyup="onPageKeyup"/> of {{numberOfPages}} </span>            
      <svg class="icon icon-circle-right" style="margin-left: 10px"
          @click="pageNext()"
          v-bind:class="{'icon-disabled':isLastPage()}">
        <use xlink:href="../assets/svg/symbol-defs.svg#icon-circle-right"></use>
      </svg>
      
    </div>              
  </div>    
</template>

<style scoped lang="scss">
  @import './Table.scss'
</style>
