.vue-table-main {
  /*so the overlay/pop can flow outside the table*/
  /*needed an extra wrapper, as table-container has different overflow requirement*/
  overflow: visible;  
  position: relative;
  border: 1px solid;
  padding: 10px;

  input {
    color: black;
  }

  /*** ico moon icons **/
  .icon {
    &.icon-circle-left, &.icon-circle-right{
      /*color: #00a3da!important;*/
      filter: invert(58%) sepia(52%) saturate(5060%) hue-rotate(162deg) brightness(94%) contrast(101%) !important;
      &:hover{
        /*color: #9F5F27!important;*/
        filter: invert(39%) sepia(15%) saturate(2305%) hue-rotate(346deg) brightness(96%) contrast(83%) !important;
      }      
    }

    &.icon-search{
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%) !important;
    }
  }
  
  
  /*************************************************/
  /** details pop up projection**/
  /*************************************************/
  .row-details {
    .row-details-row{
      display: flex;
      justify-content: space-between; /* This separates the columns */
      flex-wrap: wrap; /* Allows items to wrap to the next row */    
      padding: 0 20px 0 20px;
    }
    .row-details-cell {
      width: 45%;
      margin-bottom: 5px; 
      text-align: left;

      &:nth-child(1){
        font-weight: bold;
      }

      /* for string array */
      & > span {
        display: block;
        text-align: left;
      }
    }
  }

  /** search container **/
  .vue-table-search-container {
    display: flex; 
    align-items: left;
    padding: 5px 0 5px 0;
    background-color: #334968 !important;
  }
  
  /*************************************************/
  /** table container/wrapper */
  /*************************************************/
  .vue-table-container {
    overflow-x: auto;

    /** fire fox scroll bar **/
    scrollbar-color: rgb(46,54,69) rgb(180,180,180)  !important;
    scrollbar-width: thin !important;

    /** scroll bar styling **/
    &::-webkit-scrollbar {
      width: 12px;
    }
  
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }

    /** main table */
    .vue-table {
      border-collapse: separate; /* This makes sure spacing is applied */
      border-spacing: 10px; /* Adjust the value to set the desired spacing */
      table-layout: fixed;

      .table-header-cell, .table-cell {
        max-width: 160px;
        min-width: 100px;
        padding-left: 5px;
        cursor: default;
      }

      .table-cell{    
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
      }
    }
  }

  /****************************/
  /** pagination */
  /****************************/
  .vue-table-pagination {
    display: inline-block; 
    text-align: center;         
    margin-top: 10px;        
    width: 100%;
  }
}

