body,
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-weight: 400;
}
h1,
h4,
h5,
h6 {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-weight: 600;
}
h2, h3 {
    font-family: "Merriweather", "Times New Roman", Times, serif;
    font-weight: 300;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
ol ol {
   list-style-type: lower-alpha;
}
ol ol ol {
   list-style-type: lower-roman;
}
ol ol ol ol {
   list-style-type: decimal;
}
ol ol ol ol ol {
   list-style-type: lower-alpha;
}
a, .btn-link {
  color: #3372b0;
}
a:hover, .btn-link:hover {
  color: #9F5F27;
  text-decoration: none;
  /*border-bottom: 1px dotted #9F5F27;*/
}
.btn {
  border-radius: .125rem;
}
.btn-link.disabled, .btn-link:disabled {
  color:#ced4da;
}
.btn-xs {
    padding: .2rem .3rem;
    font-size: .75rem;
    line-height: 1;
    border-radius: 0;
}
hr.heading {
  border-top: 5px solid #334968;
  width: 100px;
}
blockquote {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 3px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*ICOMOON*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?59w4ly');
  src:  url('../fonts/icomoon.eot?59w4ly#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg?59w4ly#icomoon') format('svg'),
    url('../fonts/icomoon.woff?59w4ly') format('woff'),
    url('../fonts/icomoon.ttf?59w4ly') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-podcasts:before {
  content: "\e900";
}

[data-icon]:before {
  font-family: 'icomoon' !important;
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Helper Classes
===============================================*/
.text-sans-serif {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif !important;
  font-weight: 400;
}
.text-serif {
  font-family: "Merriweather", "Times New Roman", Times, serif!important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.text-primary {
  color: #334968!important;
}
.text-secondary {
  color: #3372b0!important;
}
.text-bright-blue {
  color: #00A3DA!important;
}
.text-reorg-pharma {
  color: #6E7DAA!important;
}
.text-white {
  color: #ffffff!important;
}
.text-black {
  color: #000000!important;
}
.text-gray-600 {
  color: #6c757d!important;
}

.font-weight-semi-bold {
  font-weight: 600!important;
}
.font-20px {
  font-size:20px!important;
}
.bg-primary, .bg-reorg {
  background-color: #334968!important;
}
.bg-secondary {
  background-color: #3372b0!important;
}
.bg-reorg-beige {
  background-color: #F4F1EE;
}
.bg-reorg-watermelon {
  background-color: #D95350!important;
}
.bg-white {
  background-color: #ffffff!important;
}
.bg-reorg-strawberry {
  background-color: #d95350!important;
}
.bg-gray-300 {
  background-color: #dee2e6!important;
}
.bg-gray-400 {
  background-color: #ced4da!important;
}
.btn-secondary {
  background-color: #3372b0;
  border-color: #3372b0;
}
.btn-outline-secondary {
  color: #3372b0!important;
  border-color: #3372b0!important;
}
.btn-bright-blue {
  background-color: #00A3DA;
  border-color: #00A3DA;
}
.btn-secondary:hover,
.btn-bright-blue:hover,
.btn-americas:hover,
.btn-americascorecredit:hover,
.btn-americas-core-credit:hover,
.btn-americas_core_credit:hover,
.btn-americascovenants:hover,
.btn-americas-mm:hover,
.btn-americasmiddlemarket:hover,
.btn-americas-middle-market:hover,
.btn-americas_middle_market:hover,
.btn-databases:hover,
.btn-europe:hover,
.btn-emea:hover,
.btn-emeacorecredit:hover,
.btn-emea-core-credit:hover,
.btn-emea_core_credit:hover,
.btn-emeacovenants:hover,
.btn-emea-mm:hover,
.btn-emeamiddlemarket:hover,
.btn-emea-middle-market:hover,
.btn-emea_middle_market:hover,
.btn-asia:hover,
.btn-asiacorecredit:hover,
.btn-asia-core-credit:hover,
.btn-asia_core_credit:hover,
.btn-covenants:hover,
.btn-firstday:hover,
.btn-creditcloud:hover,
.btn-credit-cloud:hover,
.btn-credit_cloud:hover,
.btn-findoxcore:hover,
.btn-findox-core:hover,
.btn-findox_core:hover,
.btn-findoxesma:hover,
.btn-findox-esma:hover,
.btn-findox_esma:hover,
.btn-findoxesgx:hover,
.btn-findox-esgx:hover,
.btn-findox_esgx:hover,
.btn-ma:hover,
.btn-pharma:hover,
.btn-emergingmarkets:hover,
.btn-americasmunicipals:hover,
.btn-americas-municipals:hover,
.btn-americas_municipals:hover,
.btn-reorg:hover,
.btn-outline-secondary:hover {
  background-color: #9F5F27!important;
  border-color: #9F5F27!important;
}
.btn-outline-secondary:hover {
  color: #ffffff!important;
}
.btn-white {
  background-color: #ffffff!important;
  border-color: #ffffff!important;
}
.border-primary {
  border-color: #334968!important;
}
.border-secondary {
  border-color: #3372b0!important;
}
.border-white {
  border-color: #ffffff!important;
}
.border-bottom-dotted {
  border-bottom-style: dotted!important;
}

.border-top {
  border-color: #334968!important;
}
.border-top-10 {
  border-top-width: 10px !important;
}
.border-width-3px{
  border-width: 3px;
}
.line-height-1-1 {
  line-height: 1.1;
}
.line-height-1-5 {
  line-height: 1.5;
}
.line-height-2 {
  line-height: 2;
}
.height-100-vh {
  height: 100vh;
}
.vertically-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cursor-pointer {
  cursor: pointer;
}
.list-style-type-bold-decimal {
  font-weight: bold;
  list-style-type:decimal!important;
}
.unstyled-list-font-normal {
  font-weight: normal !important;
  list-style-type: none !important;
}
.lower-latin-list-font-normal {
  font-weight: normal!important;
  list-style-type: lower-latin!important;
}
.lower-roman-list-font-normal {
  font-weight: normal!important;
  list-style-type: lower-roman!important;
}

/* Brand colors
===============================================*/
.btn-americas, .btn-americascorecredit, .btn-americas-core-credit, .btn-americas_core_credit {
  background-color: #508CA0!important;
  border-color: #508CA0!important;
}
.btn-americas-mm, .btn-americasmiddlemarket, .btn-americas-middle-market, .btn-americas_middle_market {
  background-color: #797931!important;
  border-color: #797931!important;
}
.btn-europe,
.btn-emea, .btn-emeacorecredit, .btn-emea-core-credit, .btn-emea_core_credit {
  background-color: #296C86!important;
  border-color: #296C86!important;
}
.btn-emea-mm, .btn-emeamiddlemarket, .btn-emea-middle-market, .btn-emea_middle_market {
  background-color: #4A4A1E!important;
  border-color: #4A4A1E!important;
}
.btn-asia, .btn-asiacorecredit, .btn-asia-core-credit, .btn-asia_core_credit {
  background-color: #790102!important;
  border-color: #790102!important;
}
.btn-aggredium {
  background-color: #009997!important;
  border-color: #009997!important;
}
.btn-covenants, .btn-americascovenants {
  background-color: #44715B!important;
  border-color: #44715B!important;
}
.btn-firstday {
  background-color: #592382!important;
  border-color: #592382!important;
}
.btn-creditcloud, .btn-credit-cloud, .btn-credit_cloud {
  background-color: #00A3DA!important;
  border-color: #00A3DA!important;
}
.btn-findoxcore, .btn-findox-core, .btn-findox_core {
  background-color: #E89F23!important;
  border-color: #E89F23!important;
}
.btn-findoxesma, .btn-findox-esma, .btn-findox_esma {
  background-color: #C2861C!important;
  border-color: #C2861C!important;
}
.btn-findoxesgx, .btn-findox-esgx, .btn-findox_esgx {
  background-color: #97680E!important;
  border-color: #97680E!important;
}
.btn-ma, .btn-emeacovenants {
  background-color: #003E30!important;
  border-color: #003E30!important;
}
.btn-pharma {
  background-color: #6E7DAA!important;
  border-color: #273354!important;
}
.btn-emergingmarkets {
  background-color: #C69B28!important;
  border-color: #C69B28!important;
}
.btn-debtexplained {
  background-color: #25b0ba!important;
  border-color: #25b0ba!important;
}
.btn-americasmunicipals, .btn-americas-municipals, .btn-americas_municipals {
  background-color: #334968!important;
  border-color: #334968!important
}
.btn-databases {
  background-color: #334968!important;
  border-color: #334968!important;
}
.btn-reorg {
  background-color: #334968!important;
  border-color: #334968!important;
}
.bg-americas, .bg-americascorecredit, .bg-americas-core-credit, .bg-americas_core_credit {
  background-color: #508CA0!important;
}
.bg-americas-mm, .bg-americasmiddlemarket, .bg-americas-middle-market, .bg-americas_middle_market {
  background-color: #797931!important;
}
.bg-europe,
.bg-emea, .bg-emeacorecredit, .bg-emea-core-credit, .bg-emea_core_credit {
  background-color: #296C86!important;
}
.bg-emea-mm, .bg-emeamiddlemarket, .bg-emea-middle-market, .bg-emea_middle_market {
  background-color: #4A4A1E!important;
}
.bg-asia, .bg-asiacorecredit, .bg-asia-core-credit, .bg-asia_core_credit {
  background-color: #790102!important;
}
.bg-covenants, .bg-americascovenants {
  background-color: #44715B!important;
}
.bg-firstday {
  background-color: #592382!important;
}
.bg-creditcloud, .bg-credit-cloud, .bg-credit_cloud {
  background-color: #00A3DA!important;
}
.bg-findoxcore, .bg-findox-core, .bg-findox_core {
  background-color: #E89F23!important;
}
.bg-findoxesma, .bg-findox-esma, .bg-findox_esma {
  background-color: #C2861C!important;
}
.bg-findoxesgx, .bg-findox-esgx, .bg-findox_esgx {
  background-color: #97680E!important;
}
.bg-aggredium {
  background-color: #009997!important;
}
.bg-ma, .bg-emeacovenants {
  background-color: #003E30!important;
}
.bg-pharma {
  background-color: #6E7DAA!important;
}
.bg-emergingmarkets {
  background-color: #C69B28!important;
}
.bg-debtexplained {
  background-color: #25b0ba!important;
}
.bg-americasmunicipals, .bg-americas-municipals, .bg-americas_municipals {
  background-color: #334968!important;
}
.bg-databases {
  background-color: #334968!important;
}
.bg-reorg {
  background-color: #334968!important;
}

/* Tint colors are 20% tint of the original hex value */

.bg-tint-americas, .bg-tint-americascorecredit, .bg-tint-americas-core-credit, .bg-tint-americas_core_credit {
  background-color: #dce8ec!important;
}
.bg-tint-americas-mm, .bg-tint-americasmiddlemarket, .bg-tint-americas-middle-market, .bg-tint-americas_middle_market {
  background-color: #E9E9C9!important;
}
.bg-tint-europe, .bg-tint-emea, .bg-tint-emeacorecredit, .bg-tint-emea-core-credit, .bg-tint-emea_core_credit {
  background-color: #d4e2e7!important;
}
.bg-tint-emea-mm, .bg-tint-emeamiddlemarket, .bg-tint-emea-middle-market, .bg-tint-emea_middle_market {
  background-color: #E1E1B7 !important;
}
.bg-tint-asia, .bg-tint-asiacorecredit, .bg-tint-asia-core-credit, .bg-tint-asia_core_credit {
  background-color: #e4cccc!important;
}
.bg-tint-covenants, .bg-tint-americascovenants {
  background-color: #dae3de!important;
}
.bg-tint-firstday {
  background-color: #ded3e6!important;
}
.bg-tint-creditcloud, .bg-tint-credit-cloud, .bg-tint-credit_cloud {
  background-color: #d2ecf6!important;
}
.bg-tint-findoxcore, .bg-tint-findox-core, .bg-tint-findox_core {
  background-color: #f8ecd6!important;
}
.bg-tint-findoxesma, .bg-tint-findox-esma, .bg-tint-findox_esma {
  background-color: #f1e7d4!important;
}
.bg-tint-findoxesgx, .bg-tint-findox-esgx, .bg-tint-findox_esgx {
  background-color: #e9e1d1!important;
}
.bg-tint-aggredium {
  background-color: #c5e3e3!important;
}
.bg-tint-ma, .bg-tint-emeacovenants {
  background-color: #ccd8d6!important;
}
.bg-tint-pharma {
  background-color: #e2e5ee!important;
}
.bg-tint-emergingmarkets {
  background-color: #f4ebd4!important;
}
.bg-tint-debtexplained {
  background-color: #d3eff1!important;
}
.bg-tint-americasmunicipals, .bg-tint-americas-municipals, .bg-tint-americas_municipals {
  background-color: #ccd1d9!important;
}
.bg-tint-databases{
  background-color: #ccd1d9!important;
}
.bg-tint-reorg{
  background-color: #ccd1d9!important;
}

.text-americas_product, .text-americascorecredit_product, .text-americas-core-credit_product, .text-americas_core_credit_product {
  color: #508CA0!important;
}
.text-americas-mm_product, .text-americasmiddlemarket_product, .text-americas-middle-market_product, .text-americas_middle_market_product {
  color: #797931!important;
}
.text-europe_product,
.text-emea_product, .text-emeacorecredit_product, .text-emea-core-credit_product, .text-emea_core_credit_product {
  color: #296C86!important;
}
.text-emea-mm_product, .text-emeamiddlemarket_product, .text-emea-middle-market_product, .text-emea_middle_market_product {
  color: #4A4A1E!important;
}
.text-asia_product, .text-asiacorecredit_product, .text-asia-core-credit_product, .text-asia_core_credit_product {
  color: #790102!important;
}
.text-covenants_product, .text-americascovenants_product {
  color: #44715B!important;
}
.text-firstday_product {
  color: #592382!important;
}
.text-creditcloud_product, .text-credit-cloud_product, .text-credit_cloud_product {
  color: #00A3DA!important;
}
.text-findoxcore_product, .text-findox-core_product, .text-findox_core_product {
  color: #E89F23!important;
}
.text-findoxesma_product, .text-findox-esma_product, .text-findox_esma_product {
  color: #C2861C!important;
}
.text-findoxesgx_product, .text-findox-esgx_product, .text-findox_esgx_product {
  color: #97680E!important;
}
.text-aggredium_product {
  color: #009997!important;
}
.text-ma_product, .text-emeacovenants_product {
  color: #003E30!important;
}
.text-pharma_product {
  color: #6E7DAA!important;
}
.text-emergingmarkets_product {
  color: #C69B28!important;
}
.text-debtexplained_product {
  color: #25b0ba!important;
}
.text-americasmunicipals_product, .text-americas-municipals_product, .text-americas_municipals_product {
  color: #334968!important;
}
.text-databases_product {
  color: #334968!important;
}
.text-reorg_product {
  color: #334968!important;
}

.americas_product.article-card:hover, .americascorecredit_product.article-card:hover, .americas-core-credit_product.article-card:hover, .americas_core_credit_product.article-card:hover{
  background-color: #508CA0!important;
}
.americas-mm_product.article-card:hover, .americasmiddlemarket_product.article-card:hover, .americas-middle-market_product.article-card:hover, .americas_middle_market_product.article-card:hover {
  background-color: #797931!important;
}
.europe_product.article-card:hover,
.emea_product.article-card:hover, .emeacorecredit_product.article-card:hover, .emea-core-credit_product.article-card:hover, .emea_core_credit_product.article-card:hover {
  background-color: #296C86!important;
}
.emea-mm_product.article-card:hover, .emeamiddlemarket_product.article-card:hover, .emea-middle-market_product.article-card:hover, .emea_middle_market_product.article-card:hover {
  background-color: #4A4A1E!important;
}
.asia_product.article-card:hover, .asiacorecredit_product.article-card:hover, .asia-core-credit_product.article-card:hover, .asia_core_credit_product.article-card:hover {
  background-color: #790102!important;
}
.covenants_product.article-card:hover, .americascovenants_product.article-card:hover {
  background-color: #44715B!important;
}
.firstday_product.article-card:hover {
  background-color: #592382!important;
}
.creditcloud_product.article-card:hover, .credit-cloud_product.article-card:hover, .credit_cloud_product.article-card:hover {
  background-color: #00A3DA!important;
}
.findoxcore_product.article-card:hover, .findox-core_product.article-card:hover, .findox_core_product.article-card:hover {
  background-color: #E89F23!important;
}
.findoxesma_product.article-card:hover, .findox-esma_product.article-card:hover, .findox_esma_product.article-card:hover {
  background-color: #C2861C!important;
}
.findoxesgx_product.article-card:hover, .findox-esgx_product.article-card:hover, .findox_esgx_product.article-card:hover {
  background-color: #97680E!important;
}
.aggredium_product.article-card:hover {
  background-color: #009997!important;
}
.ma_product.article-card:hover, .emeacovenants_product.article-card:hover {
  background-color: #003E30!important;
}
.pharma_product.article-card:hover {
  background-color: #6E7DAA!important;
}
.emergingmarkets_product.article-card:hover {
  background-color: #C69B28!important;
}
.americasmunicipals_product.article-card:hover, .americas-municipals_product.article-card:hover, .americas_municipals_product.article-card:hover {
  background-color: #334968!important;
}
.databases_product.article-card:hover {
  background-color: #334968!important;
}
.reorg_product.article-card:hover {
  background-color: #334968!important;
}



.border-americas_product, .border-americascorecredit_product, .border-americas-core-credit_product, .border-americas_core_credit_product {
  border-color: #508CA0!important;
}
.border-americas-mm_product, .border-americasmiddlemarket_product, .border-americas-middle-market_product, .border-americas_middle_market_product  {
  border-color: #797931!important;
}
.border-europe_product,
.border-emea_product, .border-emeacorecredit_product, .border-emea-core-credit_product, .border-emea_core_credit_product {
  border-color: #296C86!important;
}
.border-emea-mm_product, .border-emeamiddlemarket_product, .border-emea-middle-market_product, .border-emea_middle_market_product {
  border-color: #4A4A1E!important;
}
.border-asia_product, .border-asiacorecredit_product, .border-asia-core-credit_product, .border-asia_core_credit_product {
  border-color: #790102!important;
}
.border-covenants_product, .border-americascovenants_product {
  border-color: #44715B!important;
}
.border-firstday_product {
  border-color: #592382!important;
}
.border-creditcloud_product, .border-credit-cloud_product, .border-credit_cloud_product {
  border-color: #00A3DA!important;
}
.border-findoxcore_product, .border-findox-core_product, .border-findox_core_product {
  border-color: #E89F23!important;
}
.border-findoxesma_product, .border-findox-esma_product, .border-findox_esma_product {
  border-color: #C2861C!important;
}
.border-findoxesgx_product, .border-findox-esgx_product, .border-findox_esgx_product {
  border-color: #97680E!important;
}
.border-aggredium_product {
  border-color: #009997!important;
}
.border-ma_product, .border-emeacovenants_product {
  border-color: #003E30!important;
}
.border-pharma_product {
  border-color: #6E7DAA!important;
}
.border-emergingmarkets_product {
  border-color: #C69B28!important;
}
.border-americasmunicipals_product, .border-americas-municipals_product, .border-americas_municipals_product {
  border-color: #334968!important;
}
.border-databases_product {
  border-color: #334968!important;
}
.border-reorg_product {
  border-color: #334968!important;
}

.border-_product,
.border-webinar_product,
.border-podcast_product,
.border-events_product,
.border-podcast_product {
  border-color: #3372b0!important;
}

.overlay-reorg {
  background-color: rgba(51, 73, 103, 0.8)!important;
}
.overlay-americas, .overlay-americascorecredit, .overlay-americas-core-credit, .overlay-americas_core_credit {
  background-color: rgba(80, 140, 160, 0.8)!important;
}
.overlay-americas-mm, .overlay-americasmiddlemarket, .overlay-americas-middle-market, .overlay-americas_middle_market {
  background-color: rgba(121, 121, 49, 0.8)!important;
}
.overlay-europe,
.overlay-emea, .overlay-emeacorecredit, .overlay-emea-core-credit, .overlay-emea_core_credit {
  background-color: rgba(41, 109, 134, 0.8)!important;
}
.overlay-emea-mm, .overlay-emeamiddlemarket, .overlay-emea-middle-market, .overlay-emea_middle_market {
  background-color: rgba(74, 74, 30, 0.8)!important;
}
.overlay-asia, .overlay-asiacorecredit, .overlay-asia-core-credit, .overlay-asia_core_credit {
  background-color: rgba(121, 1, 2, 0.8)!important;
}
.overlay-covenants, .overlay-americascovenants,
.overlay-covenants-prime {
  background-color: rgba(68, 113, 91, 0.8)!important;
}
.overlay-firstday {
  background-color: rgba(89, 35, 130, 0.8)!important;
}
.overlay-creditcloud, .overlay-credit-cloud, .overlay-credit_cloud {
  background-color: rgba(0, 163, 218, 0.8)!important;
}
.overlay-findoxcore, .overlay-findox-core, .overlay-findox_core {
  background-color: rgba(232, 160, 35, 0.8)!important;
}
.overlay-findoxesma, .overlay-findox-esma, .overlay-findox_esma {
  background-color: rgba(194, 134, 28, 0.8)!important;
}
.overlay-findoxesgx, .overlay-findox-esgx, .overlay-findox_esgx {
  background-color: rgba(151, 104, 14, 0.8)!important;
}
.overlay-aggredium {
  background-color: rgba(0, 153, 151, 0.8)!important;
}
.overlay-ma, .overlay-emeacovenants {
  background-color: rgba(0, 62, 48, 0.8)!important;
}
.overlay-pharma {
  background-color: rgba(110, 125, 170, 0.8)!important;
}
.overlay-emergingmarkets {
  background-color: rgba(198, 155, 40, 0.8)!important;
}
.overlay-debt-explained {
  background-color: rgba(37, 176, 186, 0.8)!important;
}
.overlay-americasmunicipals, .overlay-americas-municipals, .overlay-americas_municipals {
  background-color: rgba(51,73,104, 0.8)!important;
}
.overlay-databases {
  background-color: rgba(51, 73, 103, 0.8)!important;
}
.w-33 {
  width: 33%!important;
}

/* Header
===============================================*/
#header {
  height: 100vh;
  position: relative;
}
#header.header-short {
  height: 45% !important;
  min-height: 400px;
}
#cover-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  max-width: none;
  min-height: 100%;
  z-index: -3;
}
.video-overlay {
  background: rgba(51, 73, 103, 0.7);
}
.video-overlay,
.product-overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}
.cover-slide > .container-fluid {
  position: relative;
  top: 25%;
}
.product-overview.cover-slide > .container-fluid {
  position: initial;
}
.cover-slide {
    position: fixed;
    max-height: 100%;
    height: 100%;
    padding: 1%  6% 0 6%;
    border-bottom: 1px solid #000000;
    width: 100%;
    background-size: cover !important;
}
@media(max-width:767px) {
  .cover-slide > .container-fluid {
    top: 20%;
  }
}
nav,
.sub-nav {
  transition: background-color .5s ease-in-out;
}
.navbar-brand {
  font-size: 38px;
  line-height: 59px;
  padding: 0 20px 0 17px;
  background: #002745;
  font-weight: 600;
}
header .dropdown-menu {
  background-color: #3372b0;
  border-radius: 0;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .1);
}
header .dropdown-item {
  font-size: 85%;
  color: #ffffff;
}
header .dropdown-item:hover {
  color: #ffffff;
  background-color: #9F5F27;
}
.dropdown-header {
  text-transform: uppercase;
  padding: .25rem 0rem;
  letter-spacing: .07em;
  margin: 0.25rem 1.5rem 0.1rem;
  font-size:.75rem;
  color:#d4e5f2;
  font-weight:500;
  white-space: nowrap;
  border-bottom: 1px dotted #d4e5f2;
}
.dropdown-header ~ .sub-item {
  padding-left: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.intro-message {
    position: relative;
    color: #ffffff;
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
    font-weight: 600;
}
.intro-message > h3 {
  font-size: 1.6rem
}

.intro-message > h2,
.product-overview .intro-message > h1 {
  font-size: 2.2rem;
}
.intro-message > h2 {
  line-height: 1.5;
}
#learn-more .card {
  height: 90px !important;
}
.border-style-dotted {
  border-style: dotted !important;
}
@media (min-width: 1200px) {
  .intro-message > h2 {
    padding-right: 1em;
  }
}
@media (min-width: 1300px) {
  .intro-message > h2 {
    padding-right: 3.3em;
  }
}
@media (min-width: 1400px) {
  .intro-message > h2 {
    padding-right: 5.5em;
  }
}
@media (min-width: 1500px) {
  .intro-message > h2 {
    padding-right: 7.5em;
  }
}
@media (min-width: 1600px) {
  .intro-message > h2 {
    padding-right: 9em;
  }
}
@media (min-width: 1700px) {
  .intro-message > h2 {
    padding-right: 13em;
  }
}
@media (min-width: 1800px) {
  .intro-message > h2 {
    padding-right: 14em;
  }
}
.intro-message u {
  text-decoration: none;
  border-bottom: 3px solid white;
}
.request-trial-btn {
  margin-right: 1rem;
  margin-bottom: 0;
}
.header-banner {
  margin-bottom: 1.5rem;
}
.header-banner .card-body {
  font-size: .9rem;
}
@media(max-width:991px) {
    .header-banner {
      margin-top: 5%;
      margin-bottom: .5rem;
    }
    .signin .header-banner .card-body {
      border-top: 0;
    }
    .header-banner h5 {
      font-size: 1.1rem;
    }
    .header-banner .card-body {
      font-size: .8rem;
    }
    .product-overview .intro-message > h1 {
      font-size: 1.9rem;
    }
    .intro-message > h3 {
      font-size: 1.3rem;
    }
    .download-cta-headline {
      font-size: 2rem;
    }
}
@media(max-width:767px) {
  .intro-message > h1 {
    font-size: 3em;
  }
  .intro-message > h2 {
    font-size: 1.75rem;
  }
  .intro-message > h3 {
    font-size: 1.4rem;
  }
  nav {
    background-color: #334968!important;
  }
  .request-trial-btn {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.sub-nav {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: absolute;
}
.sub-nav a,
.sub-nav a.active {
  color: #ffffff;
}
.sub-nav a.text-secondary:hover {
  color: #9F5F27!important;
}
.sub-nav a.active {
  border-bottom: 5px solid #9F5F27;
  color: #9F5F27!important;
}
.products-sub-nav a {
    border-bottom: 5px solid transparent;
}
.products-sub-nav a:hover {
    border-bottom-color: white;
}
.products-sub-nav a.active {
    border-bottom-color: white;
}
.affixed-sub-nav {
  background: #F4F1EE;
  position: fixed !important;
  top: 59px;
  height: 40px;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid #ced4da;
}
.affixed-sub-nav.sub-nav a,
.affixed-sub-nav.sub-nav a.active {
  color: #3372b0;
}
@media(max-width:767px) {
  .sub-nav {
    display: none;
  }
}
/* section
===============================================*/
#section {
  position: relative;
  overflow-x: hidden;
  z-index: 3;
}
.parallax-img {
  transform:translateY(0px);
  transition:transform 10ms linear;
  min-height: 325px;
  z-index: -1;
}
.reorg-advantage {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.advantage-img {
  padding: 2rem;
}
.advantage-img img {
  width: calc(100vw / 1.8);
  position: relative;
}
section .reorg-advantage:nth-child(4n-1) .advantage-img {
  /* transform: translateX(-150px); */
}
.advantage-text u {
  text-decoration: none;
  color: #00A3DA;
  border-bottom: 5px solid #00A3DA;
}
.advantage-text h2 {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.75em;
}
@media (max-width: 1139px) {
  .advantage-img img {
    width: calc(100vw / 1.8);
  }
  section .reorg-advantage:nth-child(4n-1) .advantage-img {
    /* transform: translateX(-100px); */
  }
  .advantage-text {
    padding: 0;
  }
  .advantage-text h2 {
    font-size: 1.5em!important;
    padding: 0;
  }
  .parallax-img {
    min-height: 200px;
  }
}
@media (max-width: 767px) {
  .advantage-img img {
    margin-top: 0;
    width: 100%;
  }
 section .reorg-advantage:nth-child(4n-1) .advantage-img {
    transform: translateX(0);
  }
  .advantage-text {
    margin-left: 0!important;
  }
  .reorg-advantage {
    height: 100%;
  }
}
@media (min-width: 768px) {
/*  .reorg-advantage:first-child {
    margin-top: 100px;
  }*/
  section .reorg-advantage:nth-child(4n+1) .advantage-img {
      opacity: 0;
      transition: opacity 1s ease;
  }
  section .reorg-advantage:nth-child(4n+1) .advantage-text {
      opacity: 0;
      transform: translateX(150px);
      transition: transform 1s ease-in-out, opacity 1s ease;
  }
  section .reorg-advantage:nth-child(4n-1) .advantage-img {
      opacity: 0;
      -ms-flex-order: 2;
      order: 2;
      transition: opacity 1s ease;
  }
  section .reorg-advantage:nth-child(4n-1) .advantage-text {
      opacity: 0;
      -ms-flex-order: 1;
      order: 1;
      transform: translateX(-150px);
      transition: transform 1s ease-in-out, opacity 1s ease;
  }
}
.description-text h5 {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  margin: .5em auto;
}
.overview li {
  font-weight: 600;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
}
.overview p {
  font-size: 1.75em;
}
@media (max-width: 767px) {
  .overview {
    padding: 0 2em;
  }
  .overview ul {
    float: none!important;
    margin-left: 0!important;
    margin-bottom: 0;
  }
}
.content-section {
    padding: 25px 0 50px;
    background-color: #F4F1EE;
}
.anchor-link {
    padding-top: calc(100vh / 8);
}

.banner-top {
    background-color: #eeeeee;
}

.banner-bottom {
    background-color: #334968;
    color: #ffffff;
}

.content-section .icon {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}
.card {
  border-radius: 0;
}
.subscription-packages {
  background: url('https://reorg.com/wp-content/uploads/2019/11/6r8nhs5a27e-roberto-catarinicchia-1600x1600.jpg') no-repeat center center;
  background-size: cover;
}
.subscription-packages h4 {
  font-size: 1.2em;
}
.subscription-packages .card-body ul {
  font-size: 0.93em;
  line-height: 1.3;
  margin-bottom: 0;
  padding-left: 1.1em;
}
.subscription-packages .card-body li {
  padding-bottom: 8px;
}
.subscription-packages .card-body li span {
  margin-left: -0.3em;
  display: block;
  color: #000000;
}
.wp-anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
.solutions-mobile-navbar {
  background: #F4F1EE !important;
}
.solutions-mobile-navbar .nav-link:hover {
  border-color: #F4F1EE;
}
.solutions-tabs li {
  margin-right: 10px;
}
.solutions-tabs .nav-tabs .nav-item {
  margin-bottom: -2px !important;
}
.solutions-tabs .nav-tabs .nav-link {
  border-radius: 0;
}
.solutions-tabs a.active {
  color:#334968 !important;
  background: #F4F1EE !important;
  border: none !important;
}
#packageTabs .nav-link {
  border: 0;
  padding: .5rem .3rem .75rem .6rem;
}
#packageTabs a::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: -8px;
    border-bottom: 3px solid #334968;
}
#packageTabs a:hover::before {
    border-bottom-color: #9F5F27;
}
#packageTabs a.active {
  background-color: #334968 !important;
  color: white !important;
}
#packageTabs a:hover {
  background-color: #9F5F27 !important;
  color: white !important;
  cursor: pointer;
}
#packageTabs li {
  width:92px;
  line-height:1.1;
}
#packageTabs a {
  height:100%;
}
/*#packageTabsContent li:before {
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
   content: "\f061";
   font-weight: lighter !important;
}*/
.solutions-tabs .tab-pane {
  padding: 10px 20px 20px;
}
.card-body ul, .text-card-body ul {
  list-style-type: square;
  padding-left: 1em;
}
.about-text h3 {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
  font-weight: 600;
  line-height: 1.5;
}
@media (min-width: 768px) and (max-width: 1224px) {
  .about-text h3 {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 1.5rem;
  }
}
.about-text p, .about-text li {
  font-size: 1.4em;
  font-weight: 300;
}
.about-text strong, .overview-text strong {
  font-weight: 600;
}
.about-text hr {
  margin-top: 2em;
  border-top: 5px solid #ffffff;
  width: 75px;
  margin-left: 0;
}
.about-image {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
}
/*.about-text h3 {
  transform: translateY(150px);
}*/
.article-card:hover {
  background-color: #3372b0 !important;
}
.article-card:hover small,
.article-card:hover h5 {
  color: white !important;
}
.bg-gradient {
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 68%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 99%);
  background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 68%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 99%);
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0) 68%, rgba(255,255,255,1) 89%, rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  top: -50px;
  bottom: 0px;
  left: 0;
  right: 0;
}
.debtexplained_product:hover {
  background-color: #25b0ba !important;
}
.border-debtexplained_product {
  border-top-color: #25b0ba !important;
}
.border-debtexplained_product h4,
.border-debtexplained_product p {
  color: #25b0ba;
}
.covenants-prime_product:hover {
  background-color: #44715B !important;
}
.border-covenants-prime_product {
  border-top-color: #44715B !important;
}
.border-covenants-prime_product h4,
.border-covenants-prime_product p {
  color: #44715B;
}
.podcasts_product:hover,
.press_product:hover {
  background-color: #3372b0 !important;
}
.border-podcasts_product,
.border-press_product {
  border-top-color: #3372b0 !important;
}

.border-podcasts_product h4,
.border-press_product h4,
.border-podcasts_product p,
.border-press_product p {
  color: #3372b0;
}
.media p {
  font-size: 80%;
  font-weight: 700;
}
.media h5, .media-page-videos h5 {
  color: #334968;
  line-height: 1.5;
  font-size: 1em;
  font-family: "Merriweather", "Times New Roman", Times, serif!important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.media-page-videos h4 {
  color: #3372B0;
}
.article-card:hover .media p,
.article-card:hover .media h4 {
  color: #ffffff!important;
}
.signin h2 {
  line-height: 1;
}
@media (max-width: 576px) {
  .signin .card-body {
    border-top: 10px solid #344968;
  }
}
@media (max-width: 500px) {
  #carouselContentContainer {
    padding-left: 1.8em !important;
    padding-right: 1.8em !important;
  }
  #headerCarouselContent  {
    padding-top: 1.3em !important;
  }
  #headerCarouselContentB  {
    padding-top: 1.3em !important;
  }
}
@media (min-width: 768px) {
  .signin {
    min-height: 100vh;
  }
  .selectIndustry {
    padding-top: 2.2rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .signin-message {
    padding: 2em;
  }
}
@media (max-width: 991px) {
  h1.front-page-header{
    font-size: 2rem;
  }
  h1.carousel-general-text {
    line-height: 1.2
  }
  h4 {
    line-height: 1;
    font-size: 1.3rem;
  }
  h4.front-page-header {
    line-height: 1.2;
  }
  h4.carousel-general-text {
    line-height: 1.2;
  }
  h2 {
    margin-top: 0.7em;
    line-height: 1;
    font-size: 1.8rem;
  }
  .carousel-pipe-spacer::before{
    content: '';
    position: relative;
    left: -15px;
    border-left: 6px solid transparent;
  }
  .carousel-pipe::after {
    content: '|';
    visibility: hidden;
    display: inline-block;
    color: white;
    margin: 0px .5rem 0px;
    padding-top: .2rem;
  }
  .carousel-last-pipe::after {
    content: '|';
    display: inline-block;
    visibility: hidden;
    margin: 0px .5rem 0px;
    padding-bottom: .2rem;
  }
  .item-0.active .carousel-pipe-indicator-0::before {
    content: '';
    position: relative;
    left: -15px;
    border-left: 6px solid white;
  }
  .item-1.active .carousel-pipe-indicator-1::before {
    content: '';
    position: relative;
    left: -15px;
    border-left: 6px solid white;
  }
  .item-2.active .carousel-pipe-indicator-2::before {
    content: '';
    position: relative;
    left: -15px;
    border-left: 6px solid white;
  }
  .item-3.active .carousel-pipe-indicator-3::before {
    content: '';
    position: relative;
    left: -15px;
    border-left: 6px solid white;
  }
  .item-4.active .carousel-pipe-indicator-4::before {
    content: '';
    position: relative;
    left: -15px;
    border-left: 6px solid white;
  }
  .item-5.active .carousel-pipe-indicator-5::before {
    content: '';
    position: relative;
    left: -15px;
    border-left: 6px solid white;
  }
  .item-6.active .carousel-pipe-indicator-6::before {
    content: '';
    position: relative;
    left: -15px;
    border-left: 6px solid white;
  }
  .item-7.active .carousel-pipe-indicator-7::before {
    content: '';
    position: relative;
    left: -15px;
    border-left: 6px solid white;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }
  h1.front-page-header{
    font-size: 1.3rem;
  }
  h1.carousel-general-text {
    line-height: 1.2
  }
  h4 {
    line-height: 1;
    font-size: 1.3rem;
  }
  h4.front-page-header {
    line-height: 1.2;
  }
  h4.carousel-general-text {
    line-height: 1.2;
  }
  h4.carousel-last-pipe {
    font-size: 1.1rem;
    margin-left: 1.5rem;
    margin-bottom: 0
  }
  h4.carousel-pipe {
    font-size: 1.1rem;
    margin-left: 1.5rem;
    margin-bottom: 0
  }
  .selectIndustry {
    display: none;
  }
}

.country_container {
  height: 200px;
  overflow-y: scroll;
}

/*infografic
===============================================*/
.ig-card {
  border:none;
}
.ig-icon {
  font-size:3.8em!important;
  line-height:1.2!important;
}
.ig-headline {
  font-size: 2.5em!important;
  letter-spacing: -1px!important;
  line-height:1!important;
}
.ig-sub-heading {
  font-size:14px!important;
  letter-spacing:-0.03em!important;
  line-height:1.2!important;
}
.ig-icon .far, .ig-icon .fas {
  margin-bottom: 0.2em;
}


/* meet the team
===============================================*/
.team {
  display: inline-grid;
  display: -ms-inline-flexbox;
}
.team .card-img-top {
  min-width: 100%;
  max-width: 300px;
  display: block;
  height: auto;
  border-radius: 0;
}
.team .card-img-overlay {
  top: initial !important;
  top: auto;
  line-height: 1;
}
.team .bio .card-text:first-child {
  line-height: 1;
}
.team .headshot {
  min-height: 290px;
  width: 100%;
  background-color: #7891A0;
  border-color: #F4F1EE;
  border-radius: 0;
  display: block;
}
.team p {
  font-size: .9em;
}
.bio {
  position: absolute;
  top: 0;
  left: 15px;
  bottom: 0;
  right: 15px;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
}
.team:hover .bio {
  display: block;
}
@media (max-width: 767px) {
  .team-section {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
.placeholder-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.placeholder {
  margin: auto;
  padding-bottom: 75px;
  width: 130px;
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 0;
  right: 0;
}

/* Lever Jobs Table
===============================================*/
.jobs-table td, .jobs-table th {
    padding: 5px;
    vertical-align: middle;
}
.job-listings .table tr.jobs:hover {
    background-color: #f4f1ee;
}
@media (max-width: 767px) {
  .job-listings {
    padding-top: 1.5rem;
  }
  .jobs-table thead {
    display: none;
  }
  .job-listings .table tr {
    margin-bottom: 30px;
  }
  .job-listings .table tr,
  .job-listings .table th,
  .job-listings .table td {
    display: block;
    border: 0;
    line-height: 1;
    padding-top: 0;
  }
  .job-listings .table tr,
  .job-listings .table th,
  .job-listings .table td {
    display: block;
    border: 0;
    line-height: 1;
    padding-top: 0;
  }
}

/* post content
===============================================*/
.page-header {
    border-bottom: 2px solid #333333;
    margin-top:0;
}
.article {
    font-family: "Merriweather", "Times New Roman", Times, serif;
    margin-top: 10px;
    letter-spacing: 0.02em;
    white-space: normal;
    font-weight: 300;
    word-wrap: break-word;
    font-size: 0.9em;
    line-height: 1.5;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}
.article h1 {
    font-size: 1.5rem;
}
.article img {
  max-width: 100%;
  height: 100%;
}
/* Fix spacing issue (CD-7470)*/
.blank-row div {
  min-height: 14px;
}
.page-numbers {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #3372b0;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-numbers.current {
    z-index: 1;
    color: #ffffff;
    background-color: #3372b0;
    border-color: #3372b0;
}
.page-numbers:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #9F5F27;
    border-color: #9F5F27;
}
.page-numbers:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* breadcrumb
===============================================*/
.breadcrumb {
    background-color: #F4F1EE;
    border-radius: 0;
}

/* blog content
===============================================*/
.blog {
    margin: 0 15px 30px;
    border-top: 10px solid #3372b0;
}
.blog-inner-wrap-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.blog-thumb {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    background-color: #334968;
}
.grid-blog-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}
.grid-blog-thumb > a, .grid-blog-thumb > img {
    margin: auto;
}
.blog-thumb img {
    max-width: 100%;
    height: auto;
}
.has-thumb .blog-content {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}
.blog-content {
    background-color: white;
    padding: 1em 1.25em;
}
.blog-title {
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #334968;
}
.blog-col-1, .has-thumb.single-blog .blog-content, .single-blog .blog-thumb {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.blog-col-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.blog-col-3 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
@media (max-width: 991px) {
  .blog-col-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .blog-thumb {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .has-thumb .blog-content {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
}
@media (max-width: 767px) {
  .blog-col-2, .blog-col-3 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
}
.blog_pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
}

/* Intelligence
===============================================*/
#company {
  text-overflow: ellipsis;
}
.btn-clear {
  color: #3372b0;
  border-color:#ced4da;
  opacity: 1!important;
}
.btn-clear:hover, .btn-clear:focus {
  color:#9F5F27;
  border-color:#ced4da;
}
#results {
  position: absolute;
  z-index: 1;
}
#company-list.list-group {
  max-width: 300px;
  height: 450px;
  overflow: auto;
}
#company-list .list-group-item {
  border-style: dotted;
}
#company-list .list-group-item-action:focus,
#company-list .list-group-item-action:hover {
  background-color: #9F5F27;
  color: #ffffff;
}
/* Home-Page
===============================================*/

/* Font Breakpoints */

@media (max-width: 293px) {
  h1.front-page-header {
    padding-top: 50px;
    font-size: .9rem
  }
  h4.bullet-title {
    font-size: .7rem
  }
  p {
    font-size: .7rem
  }


}
@media (min-width: 329px) and (max-width: 370px) {
  h4 {
    line-height: 1;
    font-size: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1009px) {
  .bullet-title {
    line-height: 1;
    font-size: 1rem;
  }
}
@media (min-width: 1010px) and (max-width: 1100px) {
  .bullet-title {
    line-height: 1;
    font-size: 1.1rem;
  }
}
@media (min-width: 1101px) and (max-width: 1284px) {
  .bullet-title {
    line-height: 1;
    font-size: 1.2rem;
  }
}

@media (min-width: 1285px) and (max-width: 1421px) {
  .bullet-title {
    line-height: 1;
    font-size: 1.5rem;
  }
}

/* Extra Large - Full screens */
@media (min-width: 1422px) {
  .bullet-title {
    line-height: 1;
    font-size: 1.7rem;
  }

}

@media (min-width: 992px){
  .item-0.active .carousel-pipe-indicator-0 {
    padding-bottom: .5rem;
    border-bottom: 5px solid white;
  }
  .item-1.active .carousel-pipe-indicator-1 {
    padding-bottom: .5rem;
    border-bottom: 5px solid white;
  }
  .item-2.active .carousel-pipe-indicator-2 {
    padding-bottom: .5rem;
    border-bottom: 5px solid white;
  }
  .item-3.active .carousel-pipe-indicator-3 {
    padding-bottom: .5rem;
    border-bottom: 5px solid white;
  }
  .item-4.active .carousel-pipe-indicator-4 {
    padding-bottom: .5rem;
    border-bottom: 5px solid white;
  }
  .item-5.active .carousel-pipe-indicator-5 {
    padding-bottom: .5rem;
    border-bottom: 5px solid white;
  }
  .item-6.active .carousel-pipe-indicator-6 {
    padding-bottom: .5rem;
    border-bottom: 5px solid white;
  }
  .item-7.active .carousel-pipe-indicator-7 {
    padding-bottom: .5rem;
    border-bottom: 5px solid white;
  }
}

.carousel-pipe::after {
  content: '|';
  display: inline-block;
  color: white;
  margin: 0px .5rem 0px;
  padding-bottom: 10px;
}
.carousel-last-pipe::after {
  content: '|';
  display: inline-block;
  visibility: hidden;
  margin: 0px .5rem 0px;
  padding-bottom: 10px;
}

.carousel-dot-indicator::before {
  content: '';
  display: inline-block;
  color: white;
  background-color:transparent;
  border:1px solid white;
  height:14px;
  width:14px;
  margin-right: .5em;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
.item-0.active .carousel-dot-indicator-0::before {
  background-color: white;
}
.item-1.active .carousel-dot-indicator-1::before {
  background-color: white;
}
.item-2.active .carousel-dot-indicator-2::before {
  background-color: white;
}
.item-3.active .carousel-dot-indicator-3::before {
  background-color: white;
}
.item-4.active .carousel-dot-indicator-4::before {
  background-color: white;
}
.item-5.active .carousel-dot-indicator-5::before {
  background-color: white;
}
.item-6.active .carousel-dot-indicator-6::before {
  background-color: white;
}
.item-7.active .carousel-dot-indicator-7::before {
  background-color: white;
}
.carousel-indicators .active {
  background-color: transparent;
}
.carousel-indicators a {
  color: white;
}
#more-info-bar .btn-outline-light:hover {
  color: #334968;
}
#carouselQuotesIndicators .carousel-dot-indicator::before {
  content: '';
  display: inline-block;
  background-color:transparent;
  border:2px solid #3372b0;
  height:15px;
  width:15px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
#carouselQuotesIndicators .active.carousel-dot-indicator::before {
  background-color: #3372b0;
}
.carousel-control-prev {
  width: 20px;
  margin-left: 15px;
}
.carousel-control-next {
  width: 20px;
  margin-right: 15px;
}
.graphic-quote {
  position: absolute;
  top: -20px;
  left: -15px;
}
.carousel-item {
    transition-duration: 3s !important;
    -webkit-transition-duration: 3s !important;
    -moz-transition-duration: 3s !important;
    -o-transition-duration: 3s !important;
}
#igCarouselQuotesContainer {
  height:190px;
  min-height:190px;
  max-height:190px;
}
/* #readMoreSection {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
} */
#readMoreSection {
  z-index: 0;
}
#readMoreSection.fade-in {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
#readMoreSection.fade-out {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
@media (max-width: 767px) {
  #headerCarouselContent {
    height:auto !important;
  }
  #headerCarouselContentB {
    height:auto !important;
  }
}

/* Pop-Up
===============================================*/
#popup-form {
  position: fixed;
  width: 320px;
  padding: 20px;
  color: #FFFFFF;
  background: rgba(217, 83, 80, 0.9);
  z-index: 9999;
  right: 20px;
  bottom: 0;
}
@media(max-width:575.98px) {
  #popup-form {
    width: 100%;
    right: 0;
  }
}
#success-popup {
  position: fixed;
  width: 320px;
  padding: 20px;
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
  z-index: 9999;
  right: 20px;
  bottom: 0;
}
#close, #collapse {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Register Mark
===============================================*/
.register-mark sup {
  font-size: .5em;
  top: -.3em;
  font-weight: 300;
}

/* Footer
===============================================*/
footer {
    position: relative;
    padding: 50px 0;
    color: #344968;
    background-color: #bec8cf;
    z-index: 1000;
}
footer a {
    color: #344968;
}
.social span {
  font-size: 1.5em;
}

#forgot-pwd-switch {
  font-weight: bold;
}

.forgot-pwd-section {
  padding-bottom: 1rem;
}

.forgot-pwd-disclaimer {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
