@import '/node_modules/bootstrap/scss/bootstrap.scss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* getting rid of arrow up and down inside input */
input[type=number] { 
  /*firefox*/
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
  /*chrome*/
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}   

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
