
<script setup lang="ts">
  /* 
    bug with css file loading by order, 
    so reorg.css has to be loaded in a parent component to be the last css file
    may be another solution
    https://github.com/vitejs/vite/issues/3924
  */

  import Table from './components/Table.vue'
  import { getColumns, getData} from './services/helper.ts';
</script>

<template>
  <Table :columns_="getColumns()" :items_="getData(35)" :width="700" :height="470"/>
</template>

<style lang="scss">  
  /* this is overridden by reorg.css in the App.Vue file */
  @import "./assets/style.scss";  

  /* override bloomberg and id column*/
  .vue-table {
    & > thead > tr > th:nth-child(2){
      max-width: 60px !important;
      min-width: 60px !important;
    }
    & > tbody > tr > td:nth-child(2){
      max-width: 60px !important;
      min-width: 60px !important;
    }

    & > thead > tr > th:nth-child(5){
      min-width: 170px !important;
    }

    & > tbody > tr > td:nth-child(5){
      min-width: 170px !important;
    }
  }
</style>
